# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Hardhat artifacts
artifacts/
cache/

# Foundry
out/
cache_f/

# Env
.env
.env.*

# VS Code
.vscode/

# OS trash
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Coverage tools
coverage/
coverage.json
